script
    | window.onload = function() {
    |   var gifContainer = $('.body');
    |   gifContainer.on('click', 'img', function(event) {
    |       if ($(event.currentTarget)[0].dataset['animatedSrc'] === undefined) return;
    |       $(event.currentTarget).attr('src', $(event.currentTarget)[0].dataset['animatedSrc']);
    |       $(event.currentTarget).next().remove();
    |   })
    |   gifContainer.on('touchend', '.play-btn', function(event) {
    |       $(event.currentTarget).prev().attr('src', $(event.currentTarget).prev()[0].dataset['animatedSrc']);
    |       $(event.currentTarget).remove();
    |   })
    |}