html
	head
		title= title
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		include ../../common/views/meta.pug
		link(rel='stylesheet', href='http://' + domain.static.domain + ':' + domain.static.host + '/static/css/base.css')
		link(rel='stylesheet', href='http://' + domain.static.domain + ':' + domain.static.host + '/list/static/css/list.css')
		include ../../common/views/mobileRem.pug
		include ../../common/views/sta.pug
	body
		include ../../common/views/articleSummary.pug
		include ./cateloge.pug
		div.header
			h1 #{title}
		div(class='cateloge-placeholder')
			div(class='cateloge-container')
				+cateloge(cateloge)
		div.body
			ul
				each article in articles
					li
						+article(article, cateloge.currentCateloge, article.index)
						
		script(src='http://' + domain.static.domain + ':' + domain.static.host + '/static/js/jquery.js')
		script(src='http://' + domain.static.domain + ':' + domain.static.host + '/static1/list.js')