@import (less) "../../../common/style/fontsize.less";
@import (less) "../../../common/style/container.less";
@import (less) "../../../common/style/utils.less";
@import (less) "../../../common/style/onepx.less";
@import (less) "../../../common/style/color.less";

.header {
    padding: .2rem @cont-padding;
    position: relative;
    h1{
        font-size: @font-size-large;
        color: @common-black;
        font-weight: bold;
        margin-bottom: .2rem
    }

    .article-info{
        font-size: @font-size-small;
        color: @common-grey;
    }
}

.body {
    padding: .2rem @cont-padding;

    ul {
        li {
            list-style: none;
            display: block;
            text-align: center;
            margin-bottom: .2rem;

            img {
                max-width: 7rem;
                max-height: 7rem;
            }

            .animatedCont {
                position: relative;
                .play-btn {
                    width: 1rem;
                    height: 1rem;
                    background-color: rgba(0, 0, 0, 0.8);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform:translateX(-50%) translateY(-50%);
                    background-image: url('../less/play.png');
                    background-size: .8rem;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}