@import (less) "../../../common/style/fontsize.less";
@import (less) "../../../common/style/container.less";
@import (less) "../../../common/style/utils.less";
@import (less) "../../../common/style/onepx.less";
@import (less) "../../../common/style/color.less";

.cateloge-container {
    li {
        font-size: @font-size-normal;
        line-height: .75rem;
        padding: 0 .6rem;
        display: inline-block;
        
        a {
            color: @common-grey;
        }
    }

    li a:visited {
        color: @common-grey;
    }

    li.cur {
        font-weight: bold;
        color: @common-red;
        border-bottom: .05rem @common-red solid;
    }
}