.header {

    height: .8rem;
    padding: .1rem;
    background-color: #c5c5c5;
    box-sizing: border-box;

    h1{
        font-size: .24rem;
    }
}

.body {
    width: 100%;
    padding: .1rem;
}