.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  .bottom-1px:after,
  .top-1px:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: #d8d8d8;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
  .bottom-1px:after {
    bottom: 0;
  }
  .top-1px:before {
    top: 0;
  }
  .border-1px:before {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .bottom-1px:after,
  .top-1px:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 200%;
    background: #d8d8d8;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
  .bottom-1px:after {
    bottom: 0;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
  }
  .top-1px:before {
    top: 0;
  }
  .border-1px:before {
    content: "";
    width: 200%;
    height: 200%;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  .bottom-1px:after,
  .top-1px:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 300%;
    background: #d8d8d8;
    -webkit-transform: scale(0.333);
    -ms-transform: scale(0.333);
    transform: scale(0.333);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
  .bottom-1px:after {
    bottom: 0;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
  }
  .top-1px:before {
    top: 0;
  }
  .border-1px:before {
    content: "";
    width: 300%;
    height: 300%;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: scale(0.333334);
    -ms-transform: scale(0.333334);
    transform: scale(0.333334);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
  }
}
.cateloge-container li {
  font-size: 0.36rem;
  line-height: .76rem;
  padding: 0 .6rem;
  display: inline-block;
}
.cateloge-container li a {
  color: #999;
}
.cateloge-container li a:visited {
  color: #999;
}
.cateloge-container li.cur {
  font-weight: bold;
  color: #fb3d2f;
  border-bottom: 0.04rem #fb3d2f solid;
}
.header {
  background-color: #fb3d2f;
  box-sizing: border-box;
}
.header h1 {
  font-size: 0.48rem;
  color: #fff;
  line-height: .8rem;
  padding: 0 0.2rem;
  text-align: center;
  font-weight: bold;
}
.cateloge-container {
  height: .8rem;
  z-index: 1000;
  background-color: #ffe8e7;
  width: 100%;
}
.cateloge-container.sticky {
  position: fixed;
  top: 0;
}
.body {
  padding: 0 0.2rem;
}
.body .article-list-item {
  position: relative;
  display: block;
}
.body .article-list-item .title {
  padding: .15rem 0;
  color: #222;
}
.body .article-list-item .img-list li {
  list-style: none;
  float: left;
  margin-left: .05rem;
  width: 2.33rem;
  height: 1.456rem;
  overflow: hidden;
}
.body .article-list-item .img-list li img {
  width: 2.33rem;
  height: 1.456rem;
  background-image: url('lazyload.svg');
  background-position: 100% 50%;
  background-size: 2.33rem 1.456rem;
  background-repeat: no-repeat;
}
.body .article-list-item .img-list :first-child {
  margin-left: 0;
}
.body .article-list-item .article-info {
  padding: .1rem 0;
  font-size: 0.24rem;
  color: #999;
}
.body .article-list-item .article-info span {
  margin-right: .15rem;
}
